.home-btn {
    padding: 1rem 1rem;
    background: $primary-color;
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 100;
    border: 0;
    outline: none;

    svg {
        fill: $white-color;
        height: 1.5rem;
        width: 1.5rem;
        
    }
}
.banner {
    background: url(../img/banner-bg.jpg) no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;

    &:before {
        display: block;
        content: "";
        height: 55px;
    }

    &__text {
        width: 40%;
        z-index: 10;
        margin: 6rem $big-gutter;
    }

    &__paragraph {
        font-size: 2.3rem;
        color: $white-color;
        animation: moveInRight 1.5s ease-out;
    }

    @media (max-width: 768px) {
        &__text {
            margin: 1.5rem $medium-gutter; 
        }
    }

    @media (max-width: 576px) {

        &__text {
            margin: 1.5rem $small-gutter; 
        }
    } 
}

.introduce {
    padding: 5rem 0;
    background: $white-color;
    text-align: center;

    &__link,
    &__link:link, 
    &__link:active, 
    &__link:hover {
        color: $primary-color;
    }

    &__text-container {
        margin: 0 6.6rem;
        padding: 0 1.5rem;
    }

    &__heading {
        font-family: 'Roboto', sans-serif;
        font-size: 3.6rem;
        color: $grey-dark1;
        margin: 2rem 0 1rem;
    }

    &__paragraph {
        font-size: 1.6rem;
        color: $grey-light1;
        margin-bottom: 1rem;
        line-height: 2.2rem;
    }

    @media (max-width: 768px) {
        &__text-container {
            margin: 0 $medium-gutter; 
        }
    }

    @media (max-width: 576px) {

        &__text-container {
            margin: 0 $small-gutter; 
        }
    }
}

.aboutMe {
    background: $grey-light3;
    padding: 6rem $big-gutter;

    &__text-container {
        margin: 0 1.5rem 3rem 1.5rem;
        padding: .3rem 0 1.5rem;
        text-align: center;
    }

    &__heading {
        margin: 2rem 0 1rem;
        font-family: 'Roboto', sans-serif;
        font-size: 3rem;
        color: $grey-dark1;
    }

    &__paragraph {
        font-size: 1.7rem;
        margin-bottom: 4rem;
        color: $grey-light1;
    }

    &__head {
        padding: 2rem 1rem;
        background: $white-color;
        color: $grey-dark1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        width: 6rem;
        height: 6rem;
        fill: $grey-dark2;
    }

    &__heading-tertiary {
        margin: 2rem 0 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 2.4rem;
    }

    &__text-box {
        display:flex;
        flex-direction: column;
    }

    &__description {
        background: $grey-light2;
        padding: 2rem;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: $grey-dark2;
        display: flex;
        align-items: center;
    }

    @media (max-width: 768px) {
        padding: 3rem $medium-gutter; 
    }

    @media (max-width: 576px) {
        padding: 3rem $small-gutter; 
    }

}

.motivation {
    background: url(../img/banner-bg.jpg) no-repeat;
    height: 50vh;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    color: $grey-light4;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    position: relative;

    &__text {
        background: rgba($color-black, .5);
        margin: 0 $big-gutter;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__heading-secondary {
        font-size: 3rem;
    }

    &__heading-tertiary {
        font-size: 2.4rem;
    }

    @media (max-width: 768px) {
        &__text {
            margin: 0 $medium-gutter;
        }
    }

    @media (max-width: 576px) {
        &__text {
            margin: 0 $small-gutter;
        }
    }

}

.skills {
    padding: 0 1.5rem 6rem 1.5rem;
    margin: 0 $big-gutter;

    &__top {
        margin: 0 0 3rem;
        padding:  6rem 0;

        h2 {
            padding: .3rem 1rem 1.5rem;
            text-align: center;
            font-size: 3rem;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: $grey-dark1;
        }

        p {
            color: $grey-light1;
            font-size: 1.7rem;
            text-align: center;
        }
    }

    &__item {
        display: flex;
    }

    &__title {
        padding: 0 1.5rem;
        color: $grey-dark1;
        font-size: 1.4rem;
        font-weight: bold;
        margin-right: auto;
    }

    @media (max-width: 768px) {
        & {
            margin: 0 $medium-gutter;
        }
    }

    @media (max-width: 576px) {
        & {
            margin: 0 $small-gutter;
        }
    }
}

.progress {
    width: 80%;
    height: 1.4rem;
    margin-bottom: 1.5rem;
}


.progress-bar {
    background-color: $primary-color;
}

.portfolio {
    background-color: $grey-dark4;
    padding: 6rem $big-gutter;

    h2 {
        color: $primary-color;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
        margin: 2rem 0 1rem;
    }

    p {
        color: $grey-light1;
        font-size: 1.7rem;
        margin: 0 0 1rem;
    }

    .row {
        display: flex;
        margin-top: 3rem;
    }

    .row > figure {
        flex: 1 1 calc((100% / 3) - 30px);
        margin: 0 1.5rem 3rem 1.5rem;
        box-sizing: border-box;
        min-width: 170px;
        background: $grey-dark2; 
        position: relative;
        border: 1px solid $grey-light5;
    }

    figure {
        cursor: pointer;
    }

    figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $white-color;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    figure:hover figcaption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    img {
        width: 100%;
        height: 100%;
    }

    figure:hover img {
        filter: brightness(40%);
    }

    @media (max-width: 768px) {
        & {
            padding: $medium-gutter;
        }
    }

    @media (max-width: 576px) {
        & {
            padding: $small-gutter;
        }
    }
}

.contacts {
    padding: 3rem $big-gutter;
    background: $grey-light3;

    h2 {
        margin: 2rem 0 1rem;
        color: $primary-color;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

    p {
        margin: 0 0 1rem;
        font-size: 1.7rem;
        color: $grey-light1;
    }

    .container {
        margin-top: 3rem;
        width: 70%;
    }

    .form-control, .btn {
        border-radius: 5px !important;
    }

    .form-control {
        padding: 6px 12px;
        border: 1px solid $grey-light6;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
        }

        &::placeholder {
            font-size: 1.7rem;
            color: $grey-dark3;
        }
    }

    .btn, .btn:active {
        float: right !important;
        font-size: 1.4rem;
        background: $primary-color !important;
        border: 0;
    }

    textarea {
        resize: none;
        overflow: auto;
    }

    @media(max-width: 768px) {
        padding: 3rem $medium-gutter;

        .container {
            width: 100%;
        }
    }

    @media (max-width: 576px) {
        padding: 3rem $small-gutter;
    }

}

.social {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 4.5rem 0;

    a {
        &:not(:last-of-type) {
            margin-right: 2rem;
        }
    }

    svg {
        padding: 0;
        height: 3rem;
        width: 3rem;
        fill: $grey-dark3;

        &:hover {
            fill: $primary-color;
        }
    }
}

.footer {
    background: $grey-light7;
    color: $grey-dark5;
    text-align: center;
    padding: 1.5rem  0;

    &__text {
        color: $grey-dark5;
        font-size: 1.4rem;
        margin: 0 $big-gutter;
        padding: 0 1.5rem;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: $primary-color;
    }

    @media (max-width: 768px) {
        &__text {
            margin: 0 $medium-gutter;
        }
    }

    @media (max-width: 576px) {
        &__text {
            margin: 0 $small-gutter;
        }
    }
}
